.hidden {
    display: none;
}

.mobile{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../images/pictures/runes.png);
    background-repeat: no-repeat;
    background-size: contain;
}

main button{
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.747);
    backdrop-filter: blur(5px);
    color:black;
    transition:  1.5s;
    border: none;
}

main button p{
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    cursor: pointer;
}

main .linha-meio{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

main section a{
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    color:black;
    transition:  1.5s;
    text-decoration: none;
}

main #sophie, main #amon, main #tess{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #tess .showing-tess{
    transform: translateY(-100px);
}

main #tess .showing-light{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -550%);  
}

main #tess .char-description{
    position: absolute;
    top: -150%;
    min-width: 50rem;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(255, 252, 70, 0.822);
    backdrop-filter: blur(5px);
    color:black;
    transition:  1.5s;
    border: none;
}

main section article > p{
    margin: 5px 0;
}

main section article p::first-letter{
    font-family: 'Great Vibes', cursive;
    font-size: 1.5rem;
    line-height: 1rem;
}

main section .char-picker{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.char-picker > .choices{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.char-picker > .choices button{
    width: 30%;
    display: flex;
    align-items: center;
}

.char-picker > .choices button:hover{
    background-color: rgba(61, 61, 61, 0.747);
}
.char-picker > .choices button:focus{
    background-color: rgba(14, 14, 14, 0.747);
}

.char-picker > .choices button p{
    font-family: 'Great Vibes', cursive;
    font-size: 1.5rem;
    width: 100%;
}

main #light{
    content: "";
    background-color: rgb(255 225 52);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
    animation: shineYellow 4s infinite ease-in-out;
    transition:  1.5s;
}

main #tess-char-description-btn{
    background-color: rgba(207, 204, 35, 0.822);
}

main #tess-char-description-btn:hover{
    background-color: rgba(240, 255, 24, 0.822) !important;
}


main #fire{
    content: "";
    background-color: rgb(255 225 52);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    animation: shineRed 4s infinite ease-in-out;
    transition:  1.5s;
}

main #amon .char-description{
    position: absolute;
    left: -190%;
    min-width: 27rem;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(219, 24, 24, 0.747);
    backdrop-filter: blur(5px);
    color:black;
    transition:  1.5s;
    border: none;
}

main #amon .showing-amon{
    transform: translateY(-110%);
}

main #amon .showing-fire{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -260%);  
}

main #amon-char-description-btn{
    background-color: rgba(146, 0, 0, 0.822);
}

main #amon-char-description-btn:hover{
    background-color: rgba(218, 0, 0, 0.822) !important;
}



main #earth{
    content: "";
    background-color: rgb(225, 255, 52);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
    animation: shineGreen 4s infinite ease-in-out;
    transition:  1.5s;
}

main #sophie .char-description{
    position: absolute;
    left: -55%;
    min-width: 27rem;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(144, 219, 24, 0.747);
    backdrop-filter: blur(5px);
    color:black;
    transition:  1.5s;
    border: none;
}

main #sophie .showing-sophie{
    transform: translateY(-110%);
}

main #sophie .showing-earth{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -260%);  
}

main #sophie-char-description-btn{
    background-color: rgba(103, 165, 3, 0.747);
}

main #sophie-char-description-btn:hover{
    background-color: rgba(116, 218, 0, 0.822) !important;
}

main > p{
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.747);
    backdrop-filter: blur(5px);
    color:black;
    transition:  1.5s;
    border: none;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}

@keyframes shineRed{
    0% {
        box-shadow: 0 0 8px 6px rgb(255 225 52), 
                    0 0 15px 15px rgb(255 145 0), 
                    0 0 17px 29px red
                }
    50% {
        box-shadow: 0 0 16px 13px rgb(255 225 52), 
                    0 0 30px 31px rgb(255 145 0), 
                    0 0 34px 58px red;
                }
    100%{
        box-shadow: 0 0 8px 6px rgb(255 225 52), 
                    0 0 15px 15px rgb(255 145 0), 
                    0 0 17px 29px red;}
}

@keyframes shineGreen{
    0% {
        box-shadow: 0 0 8px 6px rgb(225, 255, 52), 
                    0 0 15px 15px rgb(166, 255, 0), 
                    0 0 17px 29px rgb(77, 209, 0);
                }
    50% {
        box-shadow: 0 0 16px 13px rgb(225, 255, 52), 
                    0 0 30px 31px rgb(166, 255, 0), 
                    0 0 34px 58px rgb(77, 209, 0);
                }
    100%{
        box-shadow: 0 0 8px 6px rgb(225, 255, 52), 
                    0 0 15px 15px rgb(166, 255, 0), 
                    0 0 17px 29px rgb(77, 209, 0);
                }
    }

@keyframes shineYellow{
    0% {
        box-shadow: 0 0 8px 6px rgb(255, 252, 73), 
                    0 0 15px 15px rgb(255, 252, 105), 
                    0 0 17px 29px rgb(254, 255, 169);
                }
        50% {
            box-shadow: 0 0 16px 13px rgb(255, 252, 73), 
                        0 0 30px 31px rgb(255, 252, 105), 
                        0 0 34px 58px rgb(254, 255, 169);
                    }
        100%{
            box-shadow: 0 0 8px 6px rgb(255, 252, 73), 
                    0 0 15px 15px rgb(255, 252, 105), 
                    0 0 17px 29px rgb(254, 255, 169);
                    }
        }

