* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: var(--bg-color);
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}

#root {
    --black: #000;
    --bg-color: rgb(24, 24, 24);
    --bg-color2: rgb(68, 68, 68);
    --text-color: #fff;
}